body {
  text-align: center;
}

form {
  margin: auto;
  border-style: solid;
  padding-right: 0;
  border-width: 1px;
  max-width: 30vw;
}
#chart{
  display: inline-block;
  font: 10px san-serif;
  text-align: right;
  border-style: ridge;
  height: 1000px;
  width: 1000px;
  padding: 0;
  margin: 0;
  grid-area: chart;
  

}
#chartAndLabels {
  display: grid;
  grid-template-areas: 
  "yLabel chart"
  "yLabel chart"
}
.bar{
  background:red;
  color: red;
  padding: 3px;
  margin: 1px;
}
#yLabel {
  height: auto;
  width: 20px;
  grid-area: yLabel;
  text-orientation: upright;
  writing-mode: vertical-lr;
}
#xLabel {
  grid-area: xLabel;

}

