
.bar{
  background:red;
  color: red;
  padding: 3px;
  margin: 1px;
}
#barSelect {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}
body {
  text-align: center;
}
#chart{
  display: inline-block;
  font: 14px san-serif;
  text-align: center;
  border-style: ridge;
  height: 800px;
  width: 800px;
  padding: 0;
  margin: 0;
  grid-area: chart;
}
#chartAndLabels {
  display: grid;
  grid-template-areas: 
  "yLabel chart"
  "yLabel chart"
}

form {
  margin: auto;
  border-style: solid;
  padding-right: 0;
  border-width: 1px;
  max-width: 30vw;
}


#range {
  display: flex;
  justify-content: space-between;
  
}
#xLabel {
  grid-area: xLabel;

}
#yLabel {
  height: auto;
  width: 20px;
  grid-area: yLabel;
  text-orientation: upright;
  writing-mode: vertical-lr;
  margin-right: 0;
  margin-left: auto;
}


